.is-active {
   background-color:#e3eaeea1;
    width: 25px; 
    box-shadow: 0 4px 0 #669bbc;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

a:hover {
    cursor: pointer;
  }